html,
body {
  height: 100%;
  overflow-y: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.wrap {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.lightbox {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  z-index: 100;
  display: inline-block;
  text-align: center;
}

.about-box {
  display: none;
}

.about {
  background-color: white;
  max-width: 600px;
  width: calc(100% - 60px);
  margin: 10px;
  padding: 20px;
  max-height: calc(100% - 60px);
  overflow-y: auto;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  margin: 0 auto;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  text-align: left;
  font-family: 'Open Sans'
}

.about h1 {
  margin-bottom: 10px;
  display: inline;
  text-transform: uppercase;
}

.about .close-button {
  float: right;
  font-size: 28pt;
  cursor: pointer;
  margin-top: -10px;
}

.about h4 {
  margin: 20px 0px 5px;
}

.about a {
  color: #e34f50;
  text-decoration: none;
  font-weight: 600;
}

.about ul li {
  list-style: none;
}

.twitter {
  display: none;
}

header {
  height: 300px;
  width: 100%;
  background-color: #e34f50;
}

header .head-content {
  padding-top: 30px;
}

.head-content .logo {
  height: 50px;
  margin-top: -5px;
  margin-left: 10px;
}

.head-content .backButton,
.head-content .helpButton,
.head-content .prefsButton {
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #e34f50;
  background-color: white;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 9pt;
  text-decoration: none;
  float: right;
  opacity: 0.9;
  transition: opacity .25s;
  -moz-transition: opacity .25s;
  -webkit-transition: opacity .25s;
  cursor: pointer;
}

.head-content .backButton:hover,
.head-content .helpButton:hover {
  opacity: 1;
}

#chat {
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  position: absolute;
  bottom: 350px;
  top: -200px;
  font-family: 'Open Sans';
  font-weight: 300;
  width: 100%;
  padding-bottom: 70px;
}

form {
  width: 100%;
  background-color: #e34f50;
  height: auto;
  position: fixed;
  bottom: 0;
  display: inline-block;
  text-align: center;
}

form input {
  padding: 10px;
  margin: 5px 0px;
  outline: none;
  border: none;
  width: 70%;
  background-color: #ffffff;
  color: #e34f50;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-family: 'Open Sans';
  font-weight: 300;
}

form button {
  background: #ffffff;
  color: #e34f50;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-left: 0.3%;
  width: 20%;
  border: none;
  outline: none;
  padding: 10px;
  font-family: 'Open Sans';
  font-weight: 300;
  cursor: pointer;
}

#messages {
  list-style: none;
  overflow-y: auto;
  height: 100%;
  padding: 0px 10px;
}

#messages li {
  padding: 10px;
  border-bottom: 1px solid #efefef;
  color: #000000;
  overflow: auto;
	width: calc(100% - 20px)
}

#messages li:last-child {
  border-bottom: none;
}

#messages li a {
  font-weight: 400;
  color: #e34f50;
}

#messages li .profileImage {
  width: 35px;
  height: 35px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-right: 10px;
  margin-top: 5px;
  float: left;
}

#messages li .message {
  display: inline-block;
}

#messages li .twitter-link {
  font-weight: 600;
  text-decoration: none;
  font-size: 10pt;
}

#messages li .twitter-share-button {
  display: block;
}

#messages li .label {
  margin: 0px 0px 0px 5px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 9pt;
  padding: 0px 6px;
}

.label-Community {
  background-color: #e34f50;
  color: #ffffff;
}

.label-Staff {
  background-color: #EEEEEE;
  color: #e34f50;
}

.label-Developer {
  background-color: #7EC7E3;
  color: #ffffff;
}

.label-Ambassador {
  background-color: #F9CD1D;
  color: #000000;
}

#messages li .msg {
  display: block;
}

#messages .bot-msg {
  color: #e34f50;
}

#messages .server-msg,
#messages .server-msg a {
  color: #03A9F4;
}

#users{
  height: 50px;
  border-bottom: 1px solid #efefef;
  overflow:auto;
  overflow-y:hidden;
  width:auto;
  overflow-x:auto;
  white-space: nowrap;
}

#users h3 {
  float: left;
  font-weight: 300;
  margin-left: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#userlist {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  float: left;
}

#userlist li {
  display: inline;
  list-style: none;
  margin-right: 20px;
}


/* MOBILE */

@media screen and (max-width: 900px) {
  form input {
    width: calc(100% - 30px);
    font-size: 16pt;
  }

  form button {
    display: none;
  }

  .prefsButton {
    display: none;
  }
}
